
  <table  class="table table-hover" frame=void rules=rows style="border: 2px;">
    <thead>
      <th style="padding: 10px; border-left:1px solid #ccc; border-right: 1px solid #ccc;">Name</th>
      <th style="padding: 10px; border-left:1px solid #ccc; border-right: 1px solid #ccc;">Email</th>
      <th style="padding: 10px; border-left:1px solid #ccc; border-right: 1px solid #ccc;">Phone</th>
      <th style="padding: 10px; border-left:1px solid #ccc; border-right: 1px solid #ccc;">Address</th>
      <th style="padding: 10px; border-left:1px solid #ccc; border-right: 1px solid #ccc;">Issue</th>
      <th style="padding: 10px; border-left:1px solid #ccc; border-right: 1px solid #ccc;">Issue Desc</th>
      <th style="padding: 10px; border-left:1px solid #ccc; border-right: 1px solid #ccc;">Date</th>
      <th style="padding: 10px; border-left:1px solid #ccc; border-right: 1px solid #ccc;">Image1</th>
      <th style="padding: 10px; border-left:1px solid #ccc; border-right: 1px solid #ccc;">Image2</th>
    </thead>
    <tbody >
      <tr *ngFor="let emp of list">
        <td (click)="onEdit(emp)" style="padding: 10px; border-left:1px solid #ccc; border-right: 1px solid #ccc;">{{emp.name}}</td>
        <td (click)="onEdit(emp)" style="padding: 10px; border-left:1px solid #ccc; border-right: 1px solid #ccc;">{{emp.email}}</td>
        <td (click)="onEdit(emp)" style="padding: 10px; border-left:1px solid #ccc; border-right: 1px solid #ccc;">{{emp.phone}}</td>
        <td (click)="onEdit(emp)" style="padding: 10px; border-left:1px solid #ccc; border-right: 1px solid #ccc;">{{emp.taddress}}</td>
        <td (click)="onEdit(emp)" style="padding: 10px; border-left:1px solid #ccc; border-right: 1px solid #ccc;">{{emp.tissue}}</td>
        <td (click)="onEdit(emp)" style="padding: 10px; border-left:1px solid #ccc; border-right: 1px solid #ccc;">{{emp.tissue_desc}}</td>
        <td (click)="onEdit(emp)"style="padding: 10px; border-left:1px solid #ccc; border-right: 1px solid #ccc;" >{{emp.ttime}}</td>
        <td (click)="onEdit(emp)"style="padding: 10px; border-left:1px solid #ccc; border-right: 1px solid #ccc;"> <a download href={{emp.image0}} download > <img src={{emp.image0}} style="width: 100px; height: 60px;"> </a> </td>
        <td (click)="onEdit(emp)" style="padding: 10px; border-left:1px solid #ccc; border-right: 1px solid #ccc;"> <img src={{emp.image1}} style="width: 100px; height: 60px;"></td>
      <td > 
        <button style="margin:10px; text-align: center;" (click)="oncomp(emp.id,emp.userid,emp.name,emp.phone,emp.email,emp.taddress,emp.tissue,emp.tissue_desc,emp.image0,emp.image1,emp.ttime)">Completed</button> 
      </td>
      </tr>
    </tbody>
  </table>
  
  
  
  
  
  
  
  
  